/* Стилизация скроллбара для всей страницы */
::-webkit-scrollbar {
    width: 10px; /* ширина скроллбара */
}

/* Стилизация дорожки скроллбара (части, по которой скользит ползунок) */
::-webkit-scrollbar-track {
    background: white; /* цвет фона */
}

/* Стилизация самого ползунка скроллбара */
::-webkit-scrollbar-thumb {
    background: #008E95; /* цвет ползунка */
    border-radius: 30px; /* радиус скругления углов ползунка */
}

/* Стилизация ползунка при наведении на него курсора */
::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4; /* цвет ползунка при наведении */
}

button {
	cursor: pointer;
}